In [1]:
import feather

In [2]:
walmart= feather.read_dataframe('walmart.feather')

In [3]:
walmart

,trip_type,visit_number,weekday,upc,scan_count,department_description,fineline_number
0,999,5.0,Friday,6.811315e+10,-1.0,FINANCIAL SERVICES,1000
1,30,7.0,Friday,6.053882e+10,1.0,SHOES,8931
2,30,7.0,Friday,7.410811e+09,1.0,PERSONAL CARE,4504
3,26,8.0,Friday,2.238404e+09,2.0,PAINT AND ACCESSORIES,3565
4,26,8.0,Friday,2.006614e+09,2.0,PAINT AND ACCESSORIES,1017
...,...,...,...,...,...,...,...
647049,39,191346.0,Sunday,3.239000e+10,1.0,PHARMACY OTC,1118
647050,39,191346.0,Sunday,7.874205e+09,1.0,FROZEN FOODS,1752
647051,39,191346.0,Sunday,4.072000e+03,1.0,PRODUCE,4170
647052,8,191347.0,Sunday,4.190008e+09,1.0,DAIRY,1512
647053,8,191347.0,Sunday,3.800060e+09,1.0,GROCERY DRY GOODS,3600