In [1]:
import feather
import numpy as np

In [2]:
# Por si queremos dividir datos entre train y test de modo provisional:

from sklearn.model_selection import train_test_split

In [3]:
walmart= feather.read_dataframe('walmart.feather')

In [ ]:
## AGREGAR NUEVA BASE DE DATOS WIDE.

In [4]:
walmart

,trip_type,visit_number,weekday,upc,scan_count,department_description,fineline_number
0,999,5.0,Friday,6.811315e+10,-1.0,FINANCIAL SERVICES,1000
1,30,7.0,Friday,6.053882e+10,1.0,SHOES,8931
2,30,7.0,Friday,7.410811e+09,1.0,PERSONAL CARE,4504
3,26,8.0,Friday,2.238404e+09,2.0,PAINT AND ACCESSORIES,3565
4,26,8.0,Friday,2.006614e+09,2.0,PAINT AND ACCESSORIES,1017
...,...,...,...,...,...,...,...
647049,39,191346.0,Sunday,3.239000e+10,1.0,PHARMACY OTC,1118
647050,39,191346.0,Sunday,7.874205e+09,1.0,FROZEN FOODS,1752
647051,39,191346.0,Sunday,4.072000e+03,1.0,PRODUCE,4170
647052,8,191347.0,Sunday,4.190008e+09,1.0,DAIRY,1512
647053,8,191347.0,Sunday,3.800060e+09,1.0,GROCERY DRY GOODS,3600

Separamos las variables explicativas y  la variable independiente:

In [5]:
X = walmart.drop('trip_type', axis=1)

In [6]:
y=walmart.iloc[:,0]

De manera provisional voy a dividir los datos en train y test:

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Preprocesamiento
## Convertimos la columna Filename Number a One Hot Encoding

In [8]:
print(X_train['department_description'])

274956          FABRICS AND CRAFTS
435019                     PRODUCE
282734    HOUSEHOLD CHEMICALS/SUPP
68298                        SHOES
180864                  HOME DECOR
                    ...
371403                     PRODUCE
491263       HOUSEHOLD PAPER GOODS
470924             PRE PACKED DELI
491755                       DAIRY
128037          FINANCIAL SERVICES
Name: department_description, Length: 485290, dtype: category
Categories (68, object): [1-HR PHOTO, ACCESSORIES, AUTOMOTIVE, BAKERY, ..., SPORTING GOODS, SWIMWEAR/OUTERWEAR, TOYS, WIRELESS]

In [9]:
X_train['department_description'].dtype

CategoricalDtype(categories=['1-HR PHOTO', 'ACCESSORIES', 'AUTOMOTIVE', 'BAKERY',
                  'BATH AND SHOWER', 'BEAUTY', 'BEDDING',
                  'BOOKS AND MAGAZINES', 'BOYS WEAR', 'BRAS & SHAPEWEAR',
                  'CAMERAS AND SUPPLIES', 'CANDY, TOBACCO, COOKIES',
                  'CELEBRATION', 'COMM BREAD', 'CONCEPT STORES',
                  'COOK AND DINE', 'DAIRY', 'DSD GROCERY', 'ELECTRONICS',
                  'FABRICS AND CRAFTS', 'FINANCIAL SERVICES', 'FROZEN FOODS',
                  'FURNITURE', 'GIRLS WEAR, 4-6X  AND 7-14',
                  'GROCERY DRY GOODS', 'HARDWARE', 'HEALTH AND BEAUTY AIDS',
                  'HOME DECOR', 'HOME MANAGEMENT', 'HORTICULTURE AND ACCESS',
                  'HOUSEHOLD CHEMICALS/SUPP', 'HOUSEHOLD PAPER GOODS',
                  'IMPULSE MERCHANDISE', 'INFANT APPAREL',
                  'INFANT CONSUMABLE HARDLINES', 'JEWELRY AND SUNGLASSES',
                  'LADIES SOCKS', 'LADIESWEAR', 'LARGE HOUSEHOLD GOODS',
                  'LAWN AND GARDEN', 'LIQUOR,WINE,BEER',
                  'MEAT - FRESH & FROZEN', 'MEDIA AND GAMING', 'MENS WEAR',
                  'MENSWEAR', 'OFFICE SUPPLIES', 'OPTICAL - FRAMES',
                  'OPTICAL - LENSES', 'OTHER DEPARTMENTS',
                  'PAINT AND ACCESSORIES', 'PERSONAL CARE',
                  'PETS AND SUPPLIES', 'PHARMACY OTC', 'PHARMACY RX',
                  'PLAYERS AND ELECTRONICS', 'PLUS AND MATERNITY',
                  'PRE PACKED DELI', 'PRODUCE', 'SEAFOOD', 'SEASONAL',
                  'SERVICE DELI', 'SHEER HOSIERY', 'SHOES',
                  'SLEEPWEAR/FOUNDATIONS', 'SPORTING GOODS',
                  'SWIMWEAR/OUTERWEAR', 'TOYS', 'WIRELESS'],
                 ordered=False)

In [10]:
X_train.dtypes

visit_number               float64
weekday                   category
upc                        float64
scan_count                 float64
department_description    category
fineline_number           category
dtype: object

In [ ]:
## Hago  esta conversion para que python lea la columna como un string, per me devuelve un warning:

In [13]:
X_train['department_description'] =  X_train['department_description'].astype("|S")

<ipython-input-13-c28fe5696e6f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['department_description'] =  X_train['department_description'].astype("|S")

In [ ]:
# Le agrega esa b medio rara a la izquierda de depatment_descripcion , de cada elemento:

In [14]:
X_train

,visit_number,weekday,upc,scan_count,department_description,fineline_number
274956,82143.0,Thursday,7.659404e+10,1.0,b'FABRICS AND CRAFTS',517
435019,129561.0,Thursday,3.283000e+03,1.0,b'PRODUCE',1262
282734,84735.0,Thursday,3.700048e+09,1.0,b'HOUSEHOLD CHEMICALS/SUPP',130
68298,19104.0,Sunday,8.050403e+10,1.0,b'SHOES',8994
180864,54358.0,Saturday,8.183260e+10,1.0,b'HOME DECOR',2523
...,...,...,...,...,...,...
371403,109360.0,Monday,3.338365e+09,1.0,b'PRODUCE',7501
491263,145836.0,Sunday,3.700088e+09,1.0,b'HOUSEHOLD PAPER GOODS',1006
470924,140410.0,Saturday,4.470008e+09,1.0,b'PRE PACKED DELI',7508
491755,145975.0,Sunday,2.100061e+09,1.0,b'DAIRY',7958
128037,38264.0,Thursday,6.053881e+10,1.0,b'FINANCIAL SERVICES',278

In [22]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

label_encoder = LabelEncoder()  ## Para convertir a enteros
one_hot_encoder = OneHotEncoder()

## Convertirmos a enteros cada categoria 
department_description = label_encoder.fit_transform(X_train['department_description'])

In [23]:
department_description

array([19, 57, 30, ..., 56, 16, 20])

In [24]:
## Ya no se le pueden pasar vectores (arreglos 1D) a los preprocesadores
department_description = department_description[:, np.newaxis]

## Debemos invocar todense() ya que OneHotEncoder devuelve una matriz rala
department_description_one_hot = one_hot_encoder.fit_transform(filename_number)

In [25]:
department_description_one_hot

<485290x69 sparse matrix of type '<class 'numpy.float64'>'
	with 485290 stored elements in Compressed Sparse Row format>

In [27]:
department_description.shape

(485290, 1)

In [33]:
X_train['department_description'].shape

(485290,)

In [34]:
X_train['department_description'] = department_description

<ipython-input-34-48fd3a165d21>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['department_description'] = department_description

In [35]:
X_train

,visit_number,weekday,upc,scan_count,department_description,fineline_number
274956,82143.0,Thursday,7.659404e+10,1.0,19,517
435019,129561.0,Thursday,3.283000e+03,1.0,57,1262
282734,84735.0,Thursday,3.700048e+09,1.0,30,130
68298,19104.0,Sunday,8.050403e+10,1.0,62,8994
180864,54358.0,Saturday,8.183260e+10,1.0,27,2523
...,...,...,...,...,...,...
371403,109360.0,Monday,3.338365e+09,1.0,57,7501
491263,145836.0,Sunday,3.700088e+09,1.0,31,1006
470924,140410.0,Saturday,4.470008e+09,1.0,56,7508
491755,145975.0,Sunday,2.100061e+09,1.0,16,7958
128037,38264.0,Thursday,6.053881e+10,1.0,20,278

##Â Regresion logistica:

In [36]:
from sklearn.linear_model import LogisticRegression

classifier = LogisticRegression()

In [37]:
classifier.fit(X_train, y_train)

ValueError: could not convert string to float: 'Thursday'

In [ ]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(classifier, X, y, cv=5)

print(scores)  ## Todos los scores

print(np.mean(scores)) ## El promedio de los scores

# Si queremos controlar los folds podemos usar KFold, StratifiedKFold, ShuffleSplit, LeaveOneOut
# Algunos de ellos se muestran en las imÃ¡genes siguientes